@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
  @if (SignInManager.IsSignedIn(User))
  {
    <li class="nav-item">
      <strong class="nav-link text-light">
        Hello @User.Identity.Name!
      </strong>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Account" asp-action="Logout">
        Logout
      </a>
    </li>
  }
  else
  {
    <li class="nav-item">
      <a class="nav-link" asp-controller="Account" asp-action="Login" title="Login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Account" asp-action="Register" title="Register">Register</a>
    </li>
  }
</ul>