@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row" style="justify-content: center; margin: auto">
    <div class="col-md-4" style="background: #eee; padding: 20px; border-radius: 20px;">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <h4 class="text-center">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger text-center"></div>
            <div class="form-group">
                <label asp-for="Nick" class="text-center" style="width: 100%;"></label>
                <input asp-for="Nick" class="form-control text-center" />
                <span asp-validation-for="Nick" class="text-danger text-center"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="text-center" style="width: 100%;"></label>
                <input asp-for="Password" class="form-control text-center" />
                <span asp-validation-for="Password" class="text-danger text-center"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="text-center" style="width: 100%;"></label>
                <input asp-for="ConfirmPassword" class="form-control text-center"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger text-center"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px; width: 100%;">Register</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
