@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RottenPotatoes</h1>
    <p>Browse Your favourite movies and rate them!</p>

    <div class="container-fluid">
        <h2>Current movies</h2>
        <table class="table">
            <tr>
                <td>
                    <strong>Title</strong>
                </td>
                <td>
                    <strong>Director</strong>
                </td>
                <td>
                    <strong>Score</strong>
                </td>
            </tr>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="MovieDetails" asp-route-movieid="@movie.MovieId">@movie.Title</a>
                    </td>
                    <td>
                        @movie.Director
                    </td>
                    <td>
                        @try
                        {
                            @(Math.Round(Model.Votes[movie.MovieId][0], 1));@:/5
                        }
                        catch (KeyNotFoundException)
                        {
                            @:No score
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
